<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" th:href="@{/css/demo.css}">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col w3-center s12">
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3 class="funny"><b>Update Customer User</b></h3>
    </div>

    <div class="w3-container">
      <p>Customer Details</p>
    </div>
    
    <div>
    <form action="/customer/addUpdatedCustomer" method="post">

    	<br><input type="number" name="id" th:value="${customerResponseDto.id}"/><br>
    	<input type="text" name="customerName" th:value="${customerResponseDto.customerName }"/><br>
    	<input type="text" name="address" th:value="${customerResponseDto.address}"/><br>
    	<input type="number" name="contact" th:value="${customerResponseDto.contact}"/><br>
    	<label th:text="${message}"></label><br>
    	<button type="submit">Add Lead</button> 
    </form>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

</body>
</html>
